<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/common/css")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">PT App</a>
            </div>
        </div>
    </nav>
    @RenderBody()
    @Scripts.Render("~/bundles/common/js")
    @RenderSection("Scripts", false)
</body>
</html>